<dl>
  <dt>
    <label><%= column.label %></label>
  </dt>
  <dd>

  <%= text_field_tag 'record[client]', @record[:client]%>
  <div class="auto_complete" id="identity_type_autocomplete_<%=@record[:id]%>" style="{height: 80px;}"></div>
  <%= javascript_tag("new Autocompleter.Local('record[identity_type]',
    'identity_type_autocomplete_#{@record[:id]}',
    ['User', 'Group', 'AdminUser'],
    {fullSearch: true, frequency: 0, minChars: 1});") -%>

  </dd>
</dl>
