<!-- These should reallty just be module helper overrides, as we don't care about the label. -->
<dl>
  <dt>
    <label><%= column.label %></label>
  </dt>
  <dd>
<%= select("record", "emergency", [['-select-',''], 
				   ['Yes','true'], 
				   ['No - (Call waiting/engaged)', 'false']])%>
  </dd>
</dl>
