<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Contact Youth LIFELINE</title>
<meta name="description" content="Contact Youth LIFELINE" />
<meta name="keywords" content="" />
<meta name="robots" content="noindex" />
<%= javascript_include_tag :defaults %>
  <%= active_scaffold_includes %>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table border="0" align="center" cellpadding="0" cellspacing="0" class="table-corners">
  <tr>
    <td class="corner1">&nbsp;</td>
    <td class="bg-white">&nbsp;</td>
    <td class="corner2">&nbsp;</td>
  </tr>
  <tr>
    <td class="bg-white">&nbsp;</td>
    <td><table border="0" align="center" cellpadding="0" cellspacing="0" class="main-table">
      <tr>
        <td colspan="2" class="top-img"><p><br />
              <br />
              <span class="website-title">Contact Youth Lifeline </span><br />
              <br />
          - Call and Client Tracking System<br />
          </p>
          </td>
      </tr>
      <tr>
        <td colspan="2" class="orange"></td>
      </tr>
      <tr>
        <td class="content"><%= yield %></td>
        <td width="200" class="content-right"></td></tr>
      <tr>
        <td colspan="2"><span class="made-in_text">Site by <a class="made-in" title="Stirk Lamont Ltd" href="http://www.sla-ltd.com/">SLA Ltd</a> | Graphic based on design by <a class="made-in" title="Interneto svetainių kūrimas" href="http://www.roman.lt/">Svetainių kūrimas</a></span></td>
      </tr>
    </table></td>
    <td class="bg-white">&nbsp;</td>
  </tr>
  <tr>
    <td class="corner3">&nbsp;</td>
    <td class="bg-white">&nbsp;</td>
    <td class="corner4">&nbsp;</td>
  </tr>
</table>
<p class="style1">&nbsp;</p>
</body>
</html>
