<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Generic ActiveScaffold Layout</title>

  <%= javascript_include_tag :defaults %>
  <%= active_scaffold_includes %>

</head>
<body>
<h1>Contact Youth LIFELINE</h1>
<div>
<%= link_to 'New Call In', :controller => 'call', :action => 'new'%> |
<%= link_to 'New Risk Assessment', :controller => 'risk_assessment', :action => 'new'%> |
<%= link_to 'New Call Out', :controller => 'call_out', :action => 'new'%> |
<%= link_to 'Calls In', :controller => 'call', :action => 'index'%> |
<%= link_to 'Clients', :controller => 'client', :action => 'index'%> |
<%= link_to 'New Clients', :controller => 'client', :action => 'new'%> |
<%= link_to 'Risk Assessments', :controller => 'risk_assessment', :action => 'index'%> |
<%= link_to 'Allocations', :controller => 'allocation', :action => 'index'%> |
<%= link_to 'Allocate New Service', :controller => 'allocation', :action => 'new'%> |
<%= link_to 'Calls Out', :controller => 'call_out', :action => 'new'%> |
<%= link_to 'Sign Up', :controller => 'account', :action => 'signup'%> |
<%= link_to 'Logout', :controller => 'account', :action => 'logout' %> |
</div>

<% if flash[:notice] -%>
  <div id="notice"><%= flash[:notice] %></div>
<% end -%>


<%= yield  :layout %>

</body>
</html>

