<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Generic ActiveScaffold Layout</title>

  <%= javascript_include_tag :defaults %>
  <%= active_scaffold_includes %>

</head>
<body>
<h1>Contact Youth LIFELINE</h1>
<div>
<%= link_to 'New Call', :controller => 'call', :action => 'new'%> |
<%= link_to 'New Client History', :controller => 'client_history', :action => 'new'%> |
<%= link_to 'New Call Out', :controller => 'call_out', :action => 'new'%> |
<%= link_to 'Calls', :controller => 'call', :action => 'index'%> |
<%= link_to 'Clients', :controller => 'client', :action => 'index'%> |
<%= link_to 'Client Histories', :controller => 'client_history', :action => 'index'%> |
<%= link_to 'Calls Out', :controller => 'call_out', :action => 'new'%> |
<%= link_to 'Edit Presenting Issues', :controller => 'presenting_issue', :action => 'index'%> |
<%= link_to 'Logout', :controller => 'account', :action => 'logout' %> |
<%= link_to 'Create New Logon', :controller => 'account', :action => 'signup' %> 
</div>

<% if flash[:notice] -%>
  <div id="notice"><%= flash[:notice] %></div>
<% end -%>


<%= yield  :layout %>

</body>
</html>

